h1 {
    color: #6024dd;
    font-family: Arial, Helvetica, sans-serif;
        font-size: 16px;
        font-weight: bold;
    margin-top: 1px;
<<<<<<< HEAD
    margin-bottom: 1px;
    }
=======
        margin-bottom: 1px;
    }
>>>>>>> b931cb98a9ce02f11bd56b47d32f37e5adc2fc8f
